<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-tap-highlight" content="no">
<title>Nash.CRM</title>

<link rel="apple-touch-icon-precomposed" href="images/favicon/apple-touch-icon-152x152.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
<link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
<!--  Android 5 Chrome Color-->
<meta name="theme-color" content="#EE6E73">

<link href="statics/css/materialize.min.css" rel="stylesheet">

</head>

<body>
<nav class="teal lighten-1" role="navigation">
  <div class="nav-wrapper">
    <a id="logo-container" href="#" class="brand-logo">新客户</a>
    <ul class="right hide-on-med-and-down">
    </ul>

    <ul class="left">
      <li><a href="contact_index.html"><i class="mdi-navigation-arrow-back"></i></a></li>
    </ul>
  </div>
</nav>

<main>
<p>&nbsp;</p>
<div class="container">
<form action="#">
  <div class="row">
    <div class="col s12 input-field">
      <i class="mdi-action-account-circle prefix"></i>
      <input id="account_name" type="email" class="validate" length="20" required>
      <label for="account_name">姓名</label>
    </div>
  </div>

  <div class="row">
    <div class="col s12 input-field">
      <i class="mdi-communication-phone prefix"></i>
      <input id="mobile" type="text" class="validate" length="20" required>
      <label for="mobile">手机号</label>
    </div>
  </div>


  <div class="row grey lighten-4">
    <div class="col s12">
      <div class="row">
        <div class="col s12 input-field">
          <i class="mdi-editor-mode-edit prefix"></i>
          <textarea id="event2" class="materialize-textarea">#潜在业主</textarea>
          <label for="event2">跟进记录</label>
        </div>
      </div>
      <a href="#modalTags" class="modal-trigger btn-floating waves-effect waves-light teal lighten-1"><i class="mdi-maps-local-offer"></i></a>

      <div id="modalTags" class="modal bottom-sheet">
        <div class="modal-content">
          <h5><i class="mdi-maps-local-offer"></i> 标签</h5>
          <div class="divider"></div>
          <p>
            <a href="#!" onclick="alert('add 潜在业主')" class="modal-action modal-close btn">潜在业主</a>
            <a href="#!" onclick="alert('add 业主')" class="modal-action modal-close btn green lighten-2">业主</a>
          </p>
          <div class="divider"></div>
          <p>
            <a href="#!" onclick="alert('add 金澳')" class="modal-action modal-close btn blue lighten-2">金澳</a>
            <a href="#!" onclick="alert('add A1012')" class="modal-action modal-close btn pink lighten-2">A1012</a>
            <a href="#!" onclick="alert('add 潜在业主')" class="modal-action modal-close btn">潜在业主</a>
            <a href="#!" onclick="alert('add 业主')" class="modal-action modal-close btn green lighten-2">业主</a>
          </p>
          <div class="divider"></div>
          <p>
            <a href="#!" onclick="alert('add 金澳')" class="modal-action modal-close btn blue lighten-2">金澳</a>
            <a href="#!" onclick="alert('add A1012')" class="modal-action modal-close btn pink lighten-2">A1012</a>
          </p>
        </div>
      </div>

    </div>
  </div>


  <div class="section center-align">
    <button class="btn waves-effect waves-light deep-orange" type="submit" name="action">
      提交
      <i class="mdi-content-send right"></i>
    </button>
  <div>

</form>
</div>
</main>

<!--  Scripts-->
<script src="statics/js/jquery-2.1.3.min.js"></script>
<script src="statics/js/materialize.min.js"></script>

<script src="statics/js/init.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.modal-trigger').leanModal();
});
</script>
</body>
</html>